@import '../../sass-mixins/mixins.scss';

.custom-select {
  display: inline-block;
  position: relative;

  &:hover {
    > .current-selection {
      border: 1px solid $red-6;
    }
  }

  > .current-selection {
    border: 1px solid $grey-8;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.25rem;
    width: 16.5rem;

    > .affordance {
      float: right;
      height: 1rem;
    }
  }

  > .options {
    background-color: $white-1;
    border: 1px solid $grey-8;
    border-radius: 0 3px 3px 0;
    display: none;
    max-height: 10rem;
    overflow: auto;
    padding: 0.25rem 0;
    position: absolute;
    width: 17rem;
    z-index: 100;

    &.visible {
      display: block;
    }

    > .option {
      cursor: pointer;
      padding: 0.5rem 0.25rem;

      &:hover {
        background-color: $grey-2;
      }

      &.selected {
        background-color: $blue-1;
      }

      > .icon {
        color: $blue-4;
        float: right;
        height: 1rem;
      }
    }
  }
}
