$blue-1: #eff8ff;
$blue-2: #aad4f5;
$blue-3: #63a2d8;
$blue-4: #3283c7;
$blue-5: #2668a2;
$blue-6: #1a4971;
$blue-7: #12283a;

$grey-1: #f8f9fa;
$grey-2: #f1f3f5;
$grey-3: #eaedef;
$grey-4: #dee2e6;
$grey-5: #cfd4da;
$grey-6: #adb5bd;
$grey-7: #868e96;
$grey-8: #495057;
$grey-9: #343a40;
$grey-10: #21252a;

$red-1: #fef0ef;
$red-2: #fdd9d7;
$red-3: #fc9a9a;
$red-4: #f44d4d;
$red-5: #ec0000;
$red-6: #b70404;

$white-1: #fff;

$box-shadow-normal: 0px 1px 4px #00000042;
