@import '../sass-mixins/mixins.scss';

#home-page {
  .welcome {
    .links {
      margin-top: 1.5rem;

      > * {
        display: inline-block;
        margin-right: 2.5rem;
        vertical-align: middle;

        &:last-child {
          margin-right: none;
        }
      }
    }
  }
}
