@import './sass-mixins/mixins.scss';

section#app-container {
  > section {
    background-image: radial-gradient(circle at top right, $white-1, $grey-4);
    box-sizing: border-box;
    height: calc(100% - #{$site-header-height});
    overflow: auto;
    padding: 2rem 1.5rem;
    position: absolute;
    top: $site-header-height;
    width: 100%;

    > * {
      position: relative;
    }
  }

  .tile {
    background-color: $white-1;
    border-radius: 3px;
    box-shadow: 0 1px 4px #00000029;
    margin-bottom: 2.5rem;
    padding: 1.25rem 1rem;
    position: relative;

    > * {
      margin-bottom: 1rem;
    }
  }
}
