@import './sass-mixins/mixins.scss';

section#app-container {
  > section {
    background-color: $white-1;
    padding: 2rem 1.5rem;
    position: absolute;
    top: $site-header-height;
    width: 100%;

    > * {
      position: relative;
    }
  }
}
