@import './sass-mixins/mixins.scss';

html,
body,
button,
input,
select,
textarea {
  @include font-normal;
}

body {
  margin: 0;
}

h1 {
  @include font-title;
  margin: 0;
}

h2 {
  @include font-subtitle;
  margin: 0;
}

ol,
ul {
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  @include font-link;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:hover {
    color: $blue-6;
    text-decoration: underline;
  }
}

button {
  @include font-normal;
  background-color: $red-6;
  border: $red-4;
  border-radius: 3px;
  box-shadow: $box-shadow-normal;
  color: $white-1;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out;

  &:active,
  &:hover {
    background-color: $red-5;
  }
}
