@import '../sass-mixins/mixins.scss';

.heat-chart {
  width: 100%;

  .no-activity {
    background-color: $grey-3;
  }

  .activity-0-10 {
    background-color: $red-1;
  }

  .activity-10-25 {
    background-color: $red-2;
  }

  .activity-25-50 {
    background-color: $red-3;
  }

  .activity-50-75 {
    background-color: $red-4;
  }

  .activity-75-90 {
    background-color: $red-5;
  }

  .activity-90-100 {
    background-color: $red-6;
  }

  .legend {
    padding-bottom: 0.5rem;

    > * {
      display: inline-block;
      line-height: 0.75rem;
      margin-right: 0.5rem;

      > * {
        display: inline-block;
        vertical-align: middle;
      }

      > .key {
        border-radius: 3px;
        display: inline-block;
        height: 0.75rem;
        margin-right: 0.125rem;
        width: 0.75rem;
      }
    }
  }

  .hour-container {
    display: inline-block;
    vertical-align: top;
    width: 7.69%;

    .column-label {
      text-align: center;
      width: 100%;
    }

    .cell {
      border: 1px solid $grey-5;
      height: 1.25rem;
      width: 100%;
    }
  }
}
